.filter-container {
  display: flex;
  justify-content: flex-start;
  gap: 8px; 
  margin-bottom: 20px;
}


.filter-btn {
  padding: 5px 10px; 
  background-color: transparent;
  border: 1px solid #000; 
  color: #000;
  cursor: pointer;
  font-size: 14px; 
  font-weight: bold;
  margin-left: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 50px;
}


.filter-btn:hover {
  background-color: #000;
  color: #fff;
}


.filter-btn.active {
  background-color: #000;
  color: #fff;
}
