.footer {
    margin-top: auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.leftSide {
    flex: 1;
}

.rightSide {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.richText {
    margin-bottom: 10px;
    width: 450px;
    font-size: 15px;
}

.search {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.emailInput {
    border: 1px solid #ccc;
}


.emailLink {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.emailLink:hover {
    text-decoration: none;
    color: gray;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.navSection {
    min-width: 150px;
    max-width: 200px;
}

.navTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.navSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navSection .navItem {
    margin-bottom: 5px;
}

.navSection a {
    text-decoration: none;
    color: gray; 
    font-weight: normal; 
}

.navSection a:hover {
    text-decoration: underline;
    color: black; 
}

.navSection .navItem:first-child a {
    color: gray;
    font-weight: bold; 
}

.navSection .navItem:not(:first-child) a {
    font-weight: bolder; 
}