.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px; 
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.left-section {
    display: flex;
    align-items: center;
    margin-left: 150px;
}

nav {
    margin-right: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:first-child a {
    font-weight: bold; 
    color: black;
}

nav ul li:not(:first-child) a {
    font-weight: 300; 
    color: gray;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    padding: 5px;
    outline: none;
    width: 200px;
}

.right-section {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.logo-two {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.number {
    font-size: 18px;
    font-weight: bold;
    color: #343a40;
    margin-right: 100px;
}
